<div class="follower_list">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
</div>
<div class="following_list">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
	<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=300%C3%97100&w=300&h=100" alt="">
</div>