<div class="follower_list">
	<% current_user.followers.each do |user| %>
		<div class="post_username">
			<form method="POST" action="/other">
				<input hidden name="clicked_user" value="<%= user.username%>"/>
				<button class="user_click"><h3><%= user.username %></h3></button>
			</form>
		</div>
	<% end %>
</div>
<div class="following_list">
	<% current_user.followed.each do |user| %>
		<div class="post_username">
			<form method="POST" action="/other">
				<input hidden name="clicked_user" value="<%= user.username%>"/>
				<button class="user_click"><h3><%= user.username %></h3></button>
			</form>
		</div>
	<% end %>
</div>