<h1>Mst Recnt mumbls</h1>
<% Post.last(10).reverse.each do |post| %>
	<div class="last_ten_post_container">
		<div class="post_username">
			<form method="POST" action="/other">
				<input hidden name="clicked_user" value="<%= post.user.username%>"/>
				<button class="user_click"><h3><%= post.user.username %></h3></button> mumbls...	
			</form>
		</div>
		<div class="post_content">
			<%= post.content %>
		</div>
	</div>
<% end %>