<div class="landing_background">
	<div class="landing_title">
		Mumblr
	</div>
	<div class="login_center">
		<!-- PLEASE STYLE THIS FLASH ALERT -->
		<div>
			<%= flash[:alert] %>
		</div>
		<div class="signin">
			<a href="#">Sgn In</a>
		</div>
		<div class="signup">
			<a href="#">Gt Startd</a>
		</div>
	</div>
</div>
<div class="signin_form">
	<h1>Sign In:</h1>
	<form method="POST" action="/sign_in" id="signinform">
		<span id="validform"></span>
		<br>
		<label for="username">Username</label>
		<input type="text" name="username1">
		<label for="password3">Password</label>
		<input type="password" name="password3" id="password3" class="password">
		<input id="submit_button" type="submit" value="signin">
	</form>
</div>

<div class="signup_form">
	<h1>Sign Up:</h1>
	<form method="POST" action="/sign_up" id="signupform">
		<span id="validform1"></span>
		<br>
		<label for="email">Email</label>
		<input type="email" name="[user]email">
		<br>
		<label for="username">Username</label>
		<input type="text" name="[user]username">
		<br>
		<label for="password">Password</label>
		<input type="password" name="[user]password" id="password" class="password">
		<br>
		<label for="password2">Confirm Password</label>
		<input type="password" name="password2" id="password2" class="password">
		<br>
		<label for="fname">First Name</label>
		<input type="text" name="[user]fname">
		<br>
		<label for="lname">Last Name</label>
		<input type="text" name="[user]lname">
		<br>
		<input id="submit_button" type="submit" value="signup">
	</form>
</div>