<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>
	<script src="public/js.js" type"text/javaScript"></script>
</head>
<body>
	<header>
		<nav class="navbar">
			<ul>
				<li>Home</li>
				<li>Followers</li>
				<li>Profile</li>
				<li>Settings</li>
			</ul>
		</nav>
	</header>
	<main class="container">
	<%= yield %>		
	</main>
	<footer>
		
	</footer>
</body>	
</html>