<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="js.js" type"text/javaScript"></script>
	<link rel="stylesheet" type="text/css" href="profile.css">
	<link rel="stylesheet" type="text/css" href="home.css">
<!-- 	<link href='https://fonts.googleapis.com/css?family=Ultra' rel='stylesheet' type='text/css'> -->
<!-- old font -->
	<link href='https://fonts.googleapis.com/css?family=Alfa+Slab+One|Cabin+Sketch' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="header">
		<nav class="navbar">
			<ul>
				<li><a href="/home" class="home_link">| Hme |</a></li>
				<li><a href="/profile" class="profile_link">| Prfil |</li>
				<li><a href="/followers" class="followers_link">| Fllowrs |</a></li>
				<li><a href="#" class="new_mumble">| Nw Mumbl |</a></li>
				<li><form method="POST" action="/sign_out" id="sign_out_button">
					<input type="Submit" class="signOut_button" value="| Sgn Ot |">
				</form></li>
			</ul>
		</nav>
	</div>
	<div class="post_box">
		<form method="POST" action="/mumbl" id="mumble_post">
			<label for="username">Wht ar yo mumblng abut?</label>
			<br>
			<textarea type="text" id="textarea" name="mumbl" rows="4" cols="50" maxlength="150"></textarea>
			<br>
			<div id="textarea_feedback"></div>
			<br>
			<input id="new_post_button" type="submit" value="Mmble M">
		</form>
		<h1 class="close_mumble"><a href="#">Clse</a></h1>
	</div>
	<div class="container">
		<%= yield %>		
	</div>
</body>	
</html>