<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="js.js" type"text/javaScript"></script>
	<link rel="stylesheet" type="text/css" href="profile.css">
	<link href='https://fonts.googleapis.com/css?family=Ultra' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="header">
		<nav class="navbar">
			<ul>
				<li><a href="/home" class="home_link">| Home |</a></li>
				<li><a href="/profile" class="profile_link">| Profile |</li>
				<li><a href="/followers" class="followers_link">| Followers |</a></li>
				<li><a href="#" class="new_mumble">| New Mumble |</a></li>
			</ul>
		</nav>
	</div>
	<div class="post_box">
		<form method="POST" action="/mumbl" id="mumble_post">
			<label for="username">What are you mumbling about?</label>
			<br>
			<textarea type="text" id="textarea" name="mumbl" rows="4" cols="50" maxlength="150"></textarea>
			<br>
			<div id="textarea_feedback"></div>
			<br>
			<input id="new_post_button" type="submit" value="Mumble Me">
		</form>
		<h1 class="close_mumble"><a href="#">Close</a></h1>
	</div>
	<div class="container">
		<%= yield %>		
	</div>
</body>	
</html>