<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="js.js" type"text/javaScript"></script>
</head>
<body>
		<div class="header">
			<nav class="navbar">
				<ul>
					<li>Home</li>
					<li>Profile</li>
					<li>Followers</li>
					<li>Settings</li>
				</ul>
			</nav>
		</div>
	<div class="container">
		<%= yield %>		
	</div>
</body>	
</html>