<<<<<<< HEAD
	<h1>Sign In:</h1>
<form method="POST" action="/sign_in" id="signupform">
=======
<h1>Sign In:</h1>
<form method="POST" action="/sign_in" id="signinform">
>>>>>>> 0fa04af112734a27302bf19b12a00deaefffcc65
	<span id="validform"></span>
	<br>
	<label for="username">Username</label>
	<input type="text" name="username">
	<label for="password">Password</label>
	<input type="password" name="password" id="password3" class="password">
	<input id="submit_button" type="submit">
</form>