<h1>Sign Up</h1>
<form method="POST" action="/sign_up" id="signupform">
	<span id="validform"></span>
	<br>
	<label for="email">Email</label>
	<input type="email" name="email">
	<label for="username">Username</label>
	<input type="text" name="username">
	<label for="password">Password</label>
	<input type="password" name="password" id="password" class="password">
	<label for="password2">Confirm Password</label>
	<input type="password" name="password2" id="password2" class="password">
	<label for="fname">First Name</label>
	<input type="text" name="fname">
	<label for="lname">Last Name</label>
	<input type="text" name="lname">
	<input id="submit_button" type="submit">
</form>