.last_ten_post_container {
	border: 2px solid black;
	background-color: white;
	word-wrap: break-word;
	width: 100%;
	border-radius: 25px;
	padding: 5px;
	width: 500px;
	margin: 10px auto;
}

.post_username {
	font-family: 'Helvetica Neue', serif;
}

.post_username h3 {
	margin: 0 0 5px 0;
	padding: 5px 0 0 5px;
}

.post_content {
	font-family: 'Helvetica Neue', serif;
	margin: 0 auto 10px;	
	width: 400px;
	text-align: center;
}
button {
     background:none!important;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444; 
     cursor: pointer;
}
.hider {
	display: hidden;
}