body {
	margin: 0px;
	background-image: url(https://images.unsplash.com/photo-1428353115997-aecce574f422?crop=entropy&dpr=2&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300);
	background-size: cover;
	background-repeat: no-repeat;
}


.header {
	background-color: black;
	height: 55px;
	width: 100%;
	display: inline-block;
	font-family: 'Ultra', serif;
	font-size: 25px;
}

.navbar ul {
	list-style-type: none;
	text-align: center;
}

.navbar li {
    color: white;
    padding: 0px 16px;
    text-decoration: none;
	text-align: center;
	display: inline-block;
}

.navbar li:hover {
	background-color: #E8B944;
}

.container {
	background-color: #DFFDDF;
	opacity: 0.6;
	width: 900px;
	margin: 0 auto;
	margin-top: 50px;
	height: 100%;
}

.header a {
	text-decoration: none;
	color: white;
}

.landing_title {
	width: 900px;
	margin: 0 auto;
	font-size: 5vw;
	color: white;
	text-align: center;
	margin-top: 200px;
	text-shadow: 2px 2px black;
}

.login_center {
	margin: 0 auto;
	text-align: center;
	margin-top: 35px;
}

.signin {
	margin: 0 auto;
	width: 310px;
	border: 2px solid white;
	display: inline-block;
}

.signin a {
	text-decoration: none;
	color: white;
	padding: 0px 100px 0px 100px;
	font-size: 30px;
	width: 350px;
	text-shadow: 2px 2px black;
}

.signup {
	margin: 0 auto;
	width: 310px;
	border: 2px solid white;
	display: inline-block;
}

.signup a {
	text-decoration: none;
	color: white;
	padding: 0px 100px 0px 100px;
	font-size: 30px;
	width: 100%;
	text-shadow: 2px 2px black;
}

.signup:hover {
	background-color: #DFFDDF;
	text-shadow: none;
}

.signin:hover {
	background-color: #DFFDDF;
}

.signin_form {
	text-align: center;
	background-color: #DFFDDF;
	padding-bottom: 30px;
	width: 900px;
	margin: 0 auto;
	display: none;
}

#signinform {
	width: 100%;
}

.signup_form {
	text-align: right;
	background-color: rgba(223, 253, 223, 0.8);
	padding-bottom: 30px;
	width: 300px;
	margin: 0 auto;
	display: none;
	border-radius: 25px;
}

.signup_form h1 {
	text-align: center;
}

.signup_form input {
	padding: 5px 0 5px 0;
}

#singupform {
	width: 100%;
}

.post_box {
	text-align: center;
	display: none;
	background-color: black;
	padding-bottom: 15px;
}

.post_box label {
	color: white;
	font-size: 40px;
	text-shadow: 2px 2px black;
}

.post_box input {
	width: 250px;
	height: 150px;
}

.close_mumble a {
	color: #E8B944;
	text-decoration: none;
	border: 1px solid #E8B944;
	padding: 3px;
}

#new_post_button {
	width: 100px;
	background-color: #DFFDDF;
	height: 35px;
	margin-top: 10px;
}
















