	body {
	margin: 0px;
	background-image: url(https://images.unsplash.com/photo-1422157245273-e08b638b4b00?crop=entropy&dpr=2&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Helvetica Neue', serif;
}


.header {
	background-color: black;
	height: 55px;
	width: 100%;
	display: inline-block;
	font-family: 'Cabin Sketch', cursive;
	font-size: 28px;
}

.navbar ul {
	list-style-type: none;
	text-align: center;
	margin-top: 20px;
}

.navbar input {
    color: white;
    text-decoration: none;
	text-align: center;
	padding: 0px;
	display: inline;
	border: none;
	font-family: 'Cabin Sketch', cursive;
	font-size: 28px;
	background-color: rgba(0, 0, 0, 0);
}

.navbar li {
    color: black;
    padding: 0px 16px;
    text-decoration: none;
	text-align: center;
	display: inline-block;
}

.navbar li:hover {
	background-color: #F2C700;
}

.container {
	background-color: rgba(255, 255, 255, 0.5);
	width: 900px;
	margin: 0 auto;
	margin-top: 50px;
	padding: 0px 20px;
	height: 100%;
	border-radius: 25px;
}

.header a {
	text-decoration: none;
	color: white;
}

.landing_title {
	width: 900px;
	margin: 0 auto;
	font-size: 5vw;
	color: white;
	text-shadow: 2px 2px black;
	font-family: 'Alfa Slab One', cursive;
}

.landing_background {
	background-color: rgba(0, 0, 0, .3);
	width: 900px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	padding-bottom: 25px;
	border-radius: 25px;
}

.login_center {
	margin: 0 auto;
	text-align: center;
	margin-top: 35px;
	font-family: 'Cabin Sketch', cursive;
}

.signin {
	margin: 0 auto;
	width: 310px;
	border: 2px solid white;
	display: inline-block;
	font-family: 'Cabin Sketch', cursive;
}

.signin a {
	text-decoration: none;
	color: white;
	padding: 0px 100px 0px 100px;
	font-size: 30px;
	width: 350px;
	text-shadow: 2px 2px black;
	font-family: 'Cabin Sketch', cursive;
}

.signup {
	margin: 0 auto;
	width: 310px;
	border: 2px solid white;
	display: inline-block;
	font-family: 'Cabin Sketch', cursive;
}

.signup a {
	text-decoration: none;
	color: white;
	padding: 0px 80px 0px 80px;
	font-size: 30px;
	width: 100%;
	text-shadow: 2px 2px black;
	font-family: 'Cabin Sketch', cursive;
}

.signup:hover {
	background-color: #F2C700;
	text-shadow: none;
}

.signin:hover {
	background-color: #F2C700;
}

.signin_form {
	text-align: center;
	background-color: #F2C700;
	padding-bottom: 30px;
	width: 500px;
	margin: 0 auto;
	display: none;
	border-radius: 25px;
	font-family: 'Cabin Sketch', cursive;
}

#signinform {
	width: 100%;
}

.signup_form {
	text-align: right;
	background-color: #F2C700;
	padding-bottom: 30px;
	width: 300px;
	margin: 0 auto;
	display: none;
	border-radius: 25px;
	font-family: 'Cabin Sketch', cursive;
}

.signup_form h1 {
	text-align: center;
	font-family: 'Cabin Sketch', cursive;
}

.signup_form input {
	padding: 5px 0 5px 0;
}

#singupform {
	width: 100%;
}

#signin_form input {
	background-color: white;
}

.post_box {
	text-align: center;
	display: none;
	background-color: black;
	padding-bottom: 10px;
}

.post_box label {
	color: white;
	font-size: 40px;
	text-shadow: 2px 2px black;
}

.post_box input {
	width: 250px;
	height: 150px;
}

.close_mumble a {
	color: #E8B944;
	text-decoration: none;
	border: 1px solid #E8B944;
	padding: 3px;
}

#new_post_button {
	width: 100px;
	background-color: #DFFDDF;
	height: 35px;
	margin-top: 10px;
}

#textarea_feedback {
	color: white;
}

.follower_list {
	border: 1px solid black;
	height: 550px;
	width: 300px;
	float: left;
	overflow: scroll;
	text-align: center;
}

.following_list {
	border: 1px solid black;
	height: 550px;
	width: 300px;
	float: right;
	overflow: scroll;
	text-align: center;
}

.profile_posts_container p {
	border: 2px solid black;
	background-color: white;
	word-wrap: break-word;
	width: 100%;
	border-radius: 25px;
	padding: 5px;
}

.edit_profile_button {
	background-color: #D21A22;
	border: none;
	border-radius: 25px;
	color: white;
}
































